body {
    background: url('../images/bg3.png') repeat fixed;
    font-family: "source-sans-pro", arial, sans-serif !important;
    font-size: 15px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    margin: 0px;
    min-height: 100%;
}

/*.col-9 .card:nth-child(2n+1) .test1 {
    border: 1px solid dodgerblue;
}

.col-9 .card:nth-child(2n) .test1 {
    border-color: darkorange;
    border: 1px solid dodgerblue;
}*/
footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #1C2331;
    text-align: center;
    margin-top: 50px;
    padding: 10px 0 10px 0;
    height: 180px;
}

    footer #footerLeft {
        margin: 0;
        margin-left: 7%;
        width: 20%;
        float: left;
        text-align: left;
        color: #fff;
        display: inline-block
    }

        footer #footerLeft .leftp {
            margin: 0;
            font-size: 14px;
            float: left;
        }

    footer #footerMiddle {
        text-align: left;
        width: 30%;
        margin: 0;
        display: inline-block;
        float: left;
        color: #fff;
        margin-left: 8%;
    }

        footer #footerMiddle .midp {
            margin-top: 0;
            display: inline-flex;
        }

            footer #footerMiddle .midp i {
                margin-right: 8px;
                width: 35px;
            }

            footer #footerMiddle .midp span {
                margin-top: 5px;
            }

    footer #footerRight {
        margin: 0;
        margin-right: 5%;
        width: 25%;
        float: right;
        text-align: left;
        color: #fff;
        display: inline-block
    }




.col-9 .card .card-text, .col-9 .card .bg-faded h4 {
    margin-left: 10px;
    transition: .3s;
}
.col-9 .card .bg-faded, .col-9 .card .list-content {
    z-index:1;
}
.col-9 .card .test1 {
    height: 100%;
    width: 0%;
    
    top: 0;
    left: 0;
  
    transition: .3s;
    overflow: hidden;
    z-index: 0;
    clear: both;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
 
    position: absolute;
    
}

.col-9 .card:hover .test1 {
    width: 1.1%;
    transition: .3s;
    background-color: lightsalmon;
}

.badge {
    transition: .5s;
}
.list-content form {
    transition: .5s;
}

.col-9 .card:hover .badge {
    margin-right: 25px;
    transition: .5s;
    transition-delay: .3s;
}
.col-9 .card:hover .list-content form {
    margin-right: 25px;
    transition: .3s;
}

.col-9 .card:hover .card-text, .col-9 .card:hover .bg-faded h4 {
    margin-left:20px;
    transition:.3s;
}

#category .car .text-right div .navbar-text {
    font-size:1.1em;
}
#category .car .text-right div .navbar-text .a {
    margin: 0 10px 0 10px;
}


#categories > div > div > div > small {
    font-size: 1.1em;
}

#categories > div > div > div > small > a {
    margin: 0 10px 0 10px;
}
#categories > div > div > div > a {
    margin: 0 10px 0 10px;
}